<div class="container-fluid">
    <div class="card my-5 position-absolute top-50 start-50 translate-middle" style="width: 18rem">
        <div class="row pb-5">
            <div class="col">
                <h2 class="text-center text-capitalize">mi portfolio</h2>
            </div>
        </div>
        
        <div class="row py-5">
            <div class="col">
                <button type="button" class="btn btn-primary" routerLink="/register" routerLinkActive="active">Registrarse</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-success" routerLink="/login" routerLinkActive="active">Iniciar Sesión</button>
            </div>
        </div>
    </div>    
  </div>