<div class="card mb-3 pb-2">      
  <div class="card-body">
    <div class="row">
        <div class="col-10">
            <h5 class="card-title text-start">Acerca de</h5>
        </div>
        <div class="col-2 text-end" *ngIf="authService.logIn">
          <button type="button" class="btn btn-sm btn-light">
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        </div>
    </div>
            
    <p class="card-text my-0">Full Stack Developer Jr. con experiencia en diversos lenguajes de programación y freameworks. </p>
  </div>
</div>
