<div class="container-fluid">
    <div class="card mb-3 pb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <h5 class="card-title text-start">Educación</h5>
                </div>
                <div class="col-2 text-end">
                    <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal"
                        data-bs-target="#newEducacionModal" (click)="cargarAnio()">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Educacion -->
        <div class="container-fluid" *ngFor="let edu of educacion">
            <hr class="border border-dark border-1 opacity-50">
            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-9">
                                <div class="card-body">
                                    <h5 class="card-title">{{ edu.nombre }}</h5>
                                </div>
                            </div>
                            <div class="col-3 text-end">
                                <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal"
                                    [attr.data-bs-target]="'#educacionModal' + edu.id" (click)="abrirModalEd(edu); cargarAnio()">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </button>

                                <button type="button" class="btn btn-sm btn-light" (click)="eliminarEducacion(edu.id)">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </div>
                        <div class="container-fluid mb-2">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <b>Condición Actual:</b> {{ edu.condicion.nombre }}
                                </li>
                                <li class="list-group-item">
                                    <b>Fecha de Inicio:</b> {{ edu.mes_inicio+'-'+edu.anio_inicio}}
                                </li>
                                <li class="list-group-item" *ngIf="edu.condicion.id!==2">
                                    <b>Fecha de Fin:</b> {{ edu.mes_fin+'-'+edu.anio_fin}}
                                </li>
                                <li class="list-group-item">
                                    <b>Certificación:</b> {{ edu.certificacion }}
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Editar Educacion -->
            <ng-container #content>
                <div class="modal fade" id="educacionModal{{ edu.id }}" tabindex="-1"
                    aria-labelledby="educacionModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="educacionModalLabel">
                                    Editar {{ edu.nombre }}
                                </h1>
                                <button type="button" class="btn-close" id="cerrarModal" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- form modal proyectos -->
                                <form class="form-control" [formGroup]="educacionForm" (ngSubmit)="editarEducacion(edu)"
                                    method="patch">
                                    <input type="number" name="id" formControlName="id" class="form-control"
                                        id="inputId" aria-describedby="id" [defaultValue]="edu.id" hidden />
                                    <div class="mb-3">
                                        <label for="inputNombre" class="form-label">Nombre</label>
                                        <input type="text" name="nombre" formControlName="nombre" class="form-control"
                                            id="inputNombre" aria-describedby="nombre" [defaultValue]="edu.nombre" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="inputCertificacion" class="form-label">Certificacion</label>
                                        <input type="text" name="certificacion" formControlName="certificacion"
                                            class="form-control" id="inputCertificacion"
                                            aria-describedby="certificacion" [defaultValue]="edu.certificacion"
                                            value="{{ edu.certificacion }}" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="inputFechaInicio" class="form-label">Fecha de Inicio</label>
                                        <div class="row">
                                            <div class="col">
                                                <select class="form-select" name="mes_inicio" class="form-select" id="inputFechaFin" formControlName="mes_inicio">
                                                    <option value=""></option>
                                                    <option *ngFor="let m of mes; let i = index" [selected]="m === mISelect" value="{{m}}"> {{ m }} </option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select class="form-select" name="anio_inicio" class="form-select" id="inputFechaFin" formControlName="anio_inicio">
                                                    <option value=""></option>
                                                    <option *ngFor="let a of anio; let i = index" [selected]="a === aISelect" value="{{a}}"> {{ a }} </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="inputFechaFin" class="form-label">Fecha de Fin</label>
                                        <div class="row">
                                            <div class="col">
                                                <select class="form-select" name="mes_fin" class="form-select" id="inputFechaFin" formControlName="mes_fin">
                                                    <option value=""></option>
                                                    <option *ngFor="let m of mes; let i = index" [selected]="m === mFSelect" value="{{m}}"> {{ m }} </option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select class="form-select" name="anio_fin" class="form-select" id="inputFechaFin" formControlName="anio_fin">
                                                    <option value=""></option>
                                                    <option *ngFor="let a of anio; let i = index" [selected]="a === aFSelect" value="{{a}}"> {{ a }} </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="inputCondicion" class="form-label">Condicion</label>
                                        <select class="form-select" formControlName="condicion" name="condicion_id"
                                            class="form-select" id="inputCondicion">
                                            <option *ngFor="let cond of condition; let i = index"
                                                [selected]="i+1 === ngSelect" value="{{i+1}}"> {{ cond.name }} </option>
                                        </select>
                                    </div>
                                    <div class="container overflow-hidden text-center">
                                        <div class="row gx-5">
                                            <div class="col">
                                                <div class="p-3">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal" (click)="reload()">Cerrar</button>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="p-3" *ngIf="this.resp !== 200 && this.resp !== 'error'">
                                                    <button type="submit" class="btn btn-info">Editar</button>
                                                </div>

                                                <div class="p-3" *ngIf="this.resp == 200">
                                                    <button type="submit" class="btn btn-success"
                                                        disabled>Guardado</button>
                                                </div>

                                                <div class="p-3" *ngIf="this.resp == 'error'">
                                                    <button type="submit" class="btn btn-danger">Error</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </form>
                                <!-- fin form proyectos -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fin modal proyectos -->
            </ng-container>

            <!-- Modal Nuevo Educacion -->
            <ng-container #content>
                <div class="modal fade" id="newEducacionModal" tabindex="-1" aria-labelledby="newEducacionModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="newEducacionModalLabel">
                                    Nueva Educación
                                </h1>
                                <button type="button" class="btn-close" id="cerrarModal" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- form modal educacion -->
                                <form class="form-control" [formGroup]="educacionForm" (ngSubmit)="nuevoEducacion()"
                                    method="patch">
                                    <input type="number" name="id" formControlName="id" class="form-control"
                                        id="inputId" aria-describedby="id" [defaultValue]="edu.id" hidden />
                                    <div class="mb-3">
                                        <label for="inputNombre" class="form-label">Nombre</label>
                                        <input type="text" name="nombre" formControlName="nombre" class="form-control"
                                            id="inputNombre" aria-describedby="nombre" [defaultValue]="edu.nombre" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="inputCertificacion" class="form-label">Certificacion</label>
                                        <input type="text" name="certificacion" formControlName="certificacion"
                                            class="form-control" id="inputCertificacion"
                                            aria-describedby="certificacion" [defaultValue]="edu.certificacion"
                                            value="{{ edu.certificacion }}" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="inputFechaInicio" class="form-label">Fecha de Inicio</label>
                                        <div class="row">
                                            <div class="col">
                                                <select class="form-select" name="mes_inicio" class="form-select" id="inputFechaInicio" formControlName="mes_inicio">
                                                    <option value=""></option>
                                                    <option *ngFor="let m of mes" value="{{m}}">{{m}}</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select class="form-select" name="anio_inicio" class="form-select" id="inputFechaInicio" formControlName="anio_inicio">
                                                    <option value=""></option>
                                                    <option *ngFor="let a of anio" value="{{a}}">{{a}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="inputFechaFin" class="form-label">Fecha de Fin</label>
                                        <div class="row">
                                            <div class="col">
                                                <select class="form-select" name="mes_fin" class="form-select" id="inputFechaFin" formControlName="mes_fin">
                                                    <option value=""></option>
                                                    <option *ngFor="let m of mes" value="{{m}}">{{m}}</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select class="form-select" name="anio_fin" class="form-select" id="inputFechaFin" formControlName="anio_fin">
                                                    <option value=""></option>
                                                    <option *ngFor="let a of anio" value="{{a}}">{{a}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="inputCondicion" class="form-label">Condicion</label>

                                        <select class="form-select" formControlName="condicion" name="condicion_id"
                                            class="form-select" id="inputCondicion">
                                            <option *ngFor="let cond of condition; let i = index"
                                                [selected]="i+1 === ngSelect" value="{{i+1}}"> {{ cond.name }} </option>
                                        </select>
                                    </div>
                                    <div class="container overflow-hidden text-center">
                                        <div class="row gx-5">
                                            <div class="col">
                                                <div class="p-3">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal" (click)="reload()">Cerrar</button>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="p-3" *ngIf="this.resp !== 200 && this.resp !== 'error'">
                                                    <button type="submit" class="btn btn-info">Crear</button>
                                                </div>

                                                <div class="p-3" *ngIf="this.resp == 200">
                                                    <button type="submit" class="btn btn-success"
                                                        disabled>Guardado</button>
                                                </div>

                                                <div class="p-3" *ngIf="this.resp == 'error'">
                                                    <button type="submit" class="btn btn-danger">Error</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- fin form educacion -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fin modal nuevo educacion -->
            </ng-container>

            <!-- Fin Educacion -->
        </div>
    </div>
</div>