<div class="container-fluid">
    <div class="card mb-3 pb-2">      
      <div class="card-body">
        <div class="row">
            <div class="col-10">
                <h5 class="card-title text-start">Educación</h5>
            </div>
            <div class="col-2 text-end">
                <button type="button" class="btn btn-sm btn-light">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
      </div>
      <!-- Educacion -->
      <div class="container-fluid">
        <div class="row" ng>
            <div class="col">
                <div class="card mb-3">
                    <div class="row">
                      <div class="col-9">
                        <div class="card-body">
                          <h5 class="card-title">ARGENTINA PROGRAMA: #YoProgramo</h5>
                        </div>
                      </div>
                      <div class="col-3 text-end">
                        <button type="button" class="btn btn-sm btn-light">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-light">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                      </div>
                    </div>
                    <div class="container-fluid mb-2">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <b>Fecha de Inicio:</b> 28/06/2.022
                            </li>
                            <li class="list-group-item">
                                <b>Fecha de Fin:</b> 15/01/2.023
                            </li>
                            <li class="list-group-item">
                                <b>Certificación:</b> Progrador Web Full Stack Jr.
                            </li>
                            <li class="list-group-item">
                                <b>Condición Actual:</b> Egresado?
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- Fin Educacion -->
    </div>

    
 </div>

