<div class="container-fluid">
    <div class="card mb-3 pb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <h5 class="card-title text-start">Proyectos</h5>
                </div>
                <div class="col-2 text-end">
                    <!-- Button modal editar -->
                    <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal"
                        data-bs-target="#newProyectosModal">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Proyectos -->
        <div class="container-fluid" *ngFor="let proy of proyectos">
            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-center align-self-center">
                                <img src="{{proy.url_image}}" class="img-fluid p-0" alt="{{proy.url_image}}"
                                    width="150px" height="150px">
                            </div>
                            <div class="col-8 align-self-center">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="card-body">
                                            <h5 class="card-title">{{proy.nombre}}</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 text-end">
                                        <div class="card-body">
                                            <!-- Button modal editar -->
                                            <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal"
                                                [attr.data-bs-target]="'#proyectosModal'+proy.id"
                                                (click)="abrirModal(proy)">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-light"
                                                (click)="eliminarProyecto(proy.id)">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container mb-2">
                                <ul class="list-group mx-2">
                                    <li class="list-group-item">
                                        <b>Descripción:</b> {{proy.descripcion}}
                                    </li>
                                    <li class="list-group-item">
                                        <b>Fecha de Inicio:</b> {{proy.fecha_inicio}}
                                    </li>
                                    <li class="list-group-item">
                                        <b>Fecha de Fin:</b> {{proy.fecha_fin}}
                                    </li>
                                    <li class="list-group-item">
                                        <b>Link: </b> <a [routerLink]="proy.link">{{proy.link}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Editar -->
            <ng-container #content>
                <div class="modal fade" id="proyectosModal{{proy.id}}" tabindex="-1"
                    aria-labelledby="proyectosModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="proyectosModalLabel">Editar {{proy.nombre}}</h1>
                                <button type="button" class="btn-close" id="cerrarModal"
                                    data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- form modal proyectos -->
                                <form class="form-control" [formGroup]="proyectoForm" (ngSubmit)="editarProyecto(proy)" method="post">
                                    <input type="number" name="id" formControlName="id" class="form-control"
                                        id="inputId" aria-describedby="id" [defaultValue]="proy.id" hidden>
                                    <div class="mb-3">
                                        <label for="inputNombre" class="form-label">Nombre</label>
                                        <input type="text" name="nombre" formControlName="nombre" class="form-control"
                                            id="inputNombre" aria-describedby="nombre" [defaultValue]="proy.nombre">
                                    </div>

                                    <div class="mb-3">
                                        <label for="inputDescripcion" class="form-label">Descripcion</label>
                                        <input type="text" name="descripcion" formControlName="descripcion"
                                            class="form-control" id="inputDescripcion" aria-describedby="descripcion"
                                            [defaultValue]="proy.descripcion" value="{{proy.descripcion}}">
                                    </div>

                                    <div class="mb-3">
                                        <label for="inputFechaInicio" class="form-label">Fecha de Inicio</label>
                                        <input type="text" formControlName="fecha_inicio" name="fecha_inicio"
                                            class="form-control" id="inputFechaInicio" aria-describedby="fecha_inicio"
                                            [defaultValue]="proy.fecha_inicio">
                                    </div>

                                    <div class="mb-3">
                                        <label for="inputFechaFin" class="form-label">Fecha de Fin</label>
                                        <input type="text" formControlName="fecha_fin" name="fecha_fin"
                                            class="form-control" id="inputFechaFin" aria-describedby="fecha_fin"
                                            [defaultValue]="proy.fecha_fin">
                                    </div>

                                    <div class="mb-3">
                                        <label for="inputLink" class="form-label">Link</label>
                                        <input type="text" name="link" formControlName="link" class="form-control"
                                            id="inputLink" aria-describedby="link" [defaultValue]="proy.link">
                                    </div>

                                    <div class="mb-3">
                                        <label for="inputUrlImage" class="form-label">Url imagen</label>
                                        <input type="text" name="url_image" formControlName="url_image"
                                            class="form-control" id="inputUrlImage" aria-describedby="url_image"
                                            [defaultValue]="proy.url_image">
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Editar</button>
                                </form>
                                <!-- fin form proyectos -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fin modal proyectos -->
            </ng-container>


            <!-- Modal New Proyecto -->
            <div class="modal fade" id="newProyectosModal" tabindex="-1" aria-labelledby="newProyectosModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-capitalize" id="newProyectosModalLabel">crear nuevo
                                proyecto</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- form modal new proyectos -->
                            <form class="form-control" [formGroup]="proyectoForm" (ngSubmit)="nuevoProyecto()"
                                method="post">
                                <div class="mb-3">
                                    <label for="inputNombre" class="form-label">Nombre</label>
                                    <input type="text" formControlName="nombre" class="form-control" id="inputNombre"
                                        aria-describedby="nombre" value="">
                                </div>

                                <div class="mb-3">
                                    <label for="inputDescripcion" class="form-label">Descripcion</label>
                                    <input type="text" formControlName="descripcion" class="form-control"
                                        id="inputDescripcion" aria-describedby="descripcion" value="">
                                </div>

                                <div class="mb-3">
                                    <label for="inputFechaInicio" class="form-label">Fecha de Inicio</label>
                                    <input type="text" formControlName="fecha_inicio" class="form-control"
                                        id="inputFechaInicio" aria-describedby="fecha_inicio" value="">
                                </div>

                                <div class="mb-3">
                                    <label for="inputFechaFin" class="form-label">Fecha de Fin</label>
                                    <input type="text" formControlName="fecha_fin" class="form-control"
                                        id="inputFechaFin" aria-describedby="fecha_fin" value="">
                                </div>

                                <div class="mb-3">
                                    <label for="inputLink" class="form-label">Link</label>
                                    <input type="text" formControlName="link" class="form-control" id="inputLink"
                                        aria-describedby="link" value="">
                                </div>

                                <div class="mb-3">
                                    <label for="inputUrlImage" class="form-label">Url imagen</label>
                                    <input type="text" formControlName="url_image" class="form-control"
                                        id="inputUrlImage" aria-describedby="url_image" value="">
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Crear</button>
                            </form>
                            <!-- fin form new proyectos -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin modal new proyectos -->

        </div>
        <!-- Fin Proyectos -->
    </div>

</div>

<script>
    function closeModal() {
        console.log("entre closeModal");
        document.getElementById('cerrarModal').click();
    };
</script>