<div class="container-fluid">
    <div class="card mb-3 pb-2">      
      <div class="card-body">
        <div class="row">
            <div class="col-10">
                <h5 class="card-title text-start">Experiencia</h5>
            </div>
            <div class="col-2 text-end">
                <button type="button" class="btn btn-sm btn-light">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
      </div>
      <!-- Experiencias -->
      <div class="container-fluid">
        <div class="row" ng>
            <div class="col">
                <div class="card mb-3">
                    <div class="row">
                      <div class="col-9">
                        <div class="card-body">
                          <h5 class="card-title">Programador Web Independiente</h5>
                        </div>
                      </div>
                      <div class="col-3 text-end">
                        <button type="button" class="btn btn-sm btn-light">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-light">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                      </div>
                    </div>
                    <div class="container-fluid mb-2">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <b>Fecha de Inicio:</b> Marzo de 2020 a la actualidad
                            </li>
                            <li class="list-group-item">
                                <b>Tareas realizadas:</b> Desarrollo de Backend y Frontend en PHP, JavaScript y JQuery. Creación de sitios web con panel de administración y sistemas de gestión acorde a las necesidades del cliente. Creación e implementación de API REST. Creación, implementación y manejo de Base de Datos relacionales MySQL. Automatización de tareas con JavaScript. Creación de proyectos en Laravel con Bootstrap, CSS y HTML5, con sistema de roles, implementación de middlewares, subida de archivos y fotos al servidor, relaciones de modelos, creación de tablas dinámicas, diseño de estructura del sitio web de acuerdo a lo solicitado por cada cliente, manteniendo la arquitectura y funcionalidad del mismo.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- Fin Experiencias -->
    </div>

    
 </div>
