<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <img src="https://www.concordia.gob.ar/sites/all/themes/programar/images/arg-programa.png" alt="logo" width="100"> <span>Santiago Bobadilla</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand d-none d-lg-block" href="#">
        <img src="https://www.concordia.gob.ar/sites/all/themes/programar/images/arg-programa.png" alt="logo" width="150">
      </a>
      
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://instagram.com/santi_bobadilla1"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/santiago-bobadilla/"><i class="fa-brands fa-linkedin"></i></a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" routerLink="/register" routerLinkActive="active" *ngIf="!authService.iniciarSesion">Registrarse</a></li>
            <li><a class="dropdown-item" routerLink="/login" routerLinkActive="active" *ngIf="!authService.iniciarSesion">Iniciar Sesión</a></li>
            <li><a class="dropdown-item" routerLink="/loguot" routerLinkActive="active" *ngIf="authService.iniciarSesion" (click)="authService.logOut()">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav>
<div class="card mb-3 pb-2" *ngFor="let pers of persona">
  <div class="position-relative">
    <img src="{{pers.image_background_header}}" class="image-fluid position-relative" alt="img_portfolio" width="100%" height="350">
    <img src="{{pers.image_perfil}}" class="rounded-circle ms-3 position-absolute start-0" alt="img_perfil" id="img_perfil" height="100" width="100">
  </div>

  <div class="card-body mt-5">
    <div class="row">
      <div class="col-10">
        <h5 class="card-title">{{pers.nombre+' '+pers.apellido}}</h5>
      </div>
      <div class="col-2 text-end" *ngIf="authService.iniciarSesion">
        <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#personaModal" (click)="abrirModalP(pers)">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </div>
    </div>
    <p class="card-text my-0">{{pers.ocupacion}}</p>
    <p class="card-text my-0">{{pers.provincia.nombre}} ({{pers.provincia.nacionalidad.nombre}}) <span>
      <button type="button" class="btn btn-link px-0" data-bs-toggle="modal" data-bs-target="#exampleModal">Información de contacto</button>
    </span> </p>
  </div>

  <!-- <div>
    <button type="button" class="btn btn-primary btn-sm mx-2">Tengo interes en</button>
    <button type="button" class="btn btn-outline-light text-dark btn-sm mx-2">Añadir sección</button>
    <button type="button" class="btn btn-outline-light text-dark btn-sm mx-2">Más</button>
  </div> -->

    <div class="card-body py-2">
      <div class="row">
          <div class="col-10">
              <h5 class="card-title text-start">Acerca de</h5>
          </div>
      </div>
              
      <p class="card-text my-0">{{pers.sobre_mi}}</p>
    </div>
    
  <!-- Modal Contacto -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Contacto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- modal body -->
          <div class="row row-cols-2 align-items-center">
            <div class="col d-grid gap-2 mx-auto">
              <button class="btn btn-success">
                <a class="btn-link text-white" href="https://wa.me/+549{{pers.telefono}}"> <i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
              </button>

              <button class="btn btn-danger">
                <a class="btn-link text-white" href = "mailto: {{pers.email}}"> <i class="fa-regular fa-envelope"></i> Email</a>
              </button>
            </div>
            <div class="col d-grid gap-2 mx-auto">
              <button class="btn btn-primary">
                <a class="btn-link text-white" href="https://instagram.com/santi_bobadilla1"><i class="fa-brands fa-instagram"></i> Instagram</a>
              </button>

              <button class="btn btn-dark">
                <a class="btn-link text-white" href="https://www.linkedin.com/in/santiago-bobadilla/"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
              </button>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>
  <!-- fin modal body -->

  <!-- Modal Editar -->
  <ng-container>
    <div class="modal fade" id="personaModal" tabindex="-1" aria-labelledby="personaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="personaModalLabel">Editar {{pers.nombre}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- form modal proyectos -->
                    <form class="form-control" [formGroup]="personaForm" (ngSubmit)="editarPersona(pers.id, pers)"
                        method="patch">
                        <input type="number" name="id" formControlName="id" class="form-control"
                            id="inputId" aria-describedby="id" [defaultValue]="pers.id">
                        <div class="mb-3">
                            <label for="inputNombre" class="form-label">Nombre</label>
                            <input type="text" name="nombre" formControlName="nombre" class="form-control"
                                id="inputNombre" aria-describedby="nombre" [defaultValue]="pers.nombre">
                        </div>

                        <div class="mb-3">
                          <label for="inputApellido" class="form-label">Apellido</label>
                          <input type="text" name="apellido" formControlName="apellido" class="form-control"
                              id="inputApellido" aria-describedby="apellido" [defaultValue]="pers.apellido">
                      </div>

                        <div class="mb-3">
                            <label for="inputOcupacion" class="form-label">Sobre mi</label>
                            <input type="text" name="sobre_mi" formControlName="sobre_mi"
                                class="form-control" id="inputOcupacion" aria-describedby="sobre_mi"
                                [defaultValue]="pers.sobre_mi" value="{{pers.sobre_mi}}">
                        </div>

                        <div class="mb-3">
                            <label for="inputTelefono" class="form-label">Telefono</label>
                            <input type="text" formControlName="telefono" name="telefono"
                                class="form-control" id="inputTelefono" aria-describedby="telefono"
                                [defaultValue]="pers.telefono">
                        </div>

                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input type="text" formControlName="email" name="email"
                                class="form-control" id="inputEmail" aria-describedby="email"
                                [defaultValue]="pers.email">
                        </div>

                        <div class="mb-3">
                          <label for="inputProvinciaId" class="form-label">Provincia</label>
                          <select class="form-select" formControlName="provincia_id" name="provincia_id"
                          class="form-select" id="inputProvinciaId">
                            <option selected value="{{pers.provincia.id}}">{{pers.provincia.nombre}}</option>
                            <option value="1">Buenos Aires</option>
                            <option value="2">Catamarca</option>
                            <option value="3">Chaco</option>
                            <option value="4">Chubut</option>
                            <option value="5">Córdoba</option>
                            <option value="6">Corrientes</option>
                            <option value="7">Entre Rios</option>
                            <option value="8">Formosa</option>
                            <option value="9">Jujuy</option>
                            <option value="10">La Pampa</option>
                            <option value="11">La Rioja</option>
                            <option value="12">Mendoza</option>
                            <option value="13">Misiones</option>
                            <option value="14">Neuquen</option>
                            <option value="15">Rio Negro</option>
                            <option value="16">Salta</option>
                            <option value="17">San Juan</option>
                            <option value="18">San Luis</option>
                            <option value="19">Santa Cruz</option>
                            <option value="20">Santa Fe</option>
                            <option value="21">Santiago del Estero</option>
                            <option value="22">Tierra del Fuego</option>
                            <option value="23">Tucuman</option>
                            <option value="24">Ciudad Autonoma de Buenos Aires</option>
                          </select>
                        </div>

                        <div class="mb-3">
                          <label for="inputImageBackground" class="form-label">Url imagen de fondo</label>
                          <input type="text" formControlName="image_background_header" name="image_background_header" class="form-control" id="inputImageBackground" aria-describedby="image_background_header" [defaultValue]="pers.image_background_header">
                        </div>

                        <div class="mb-3">
                          <label for="inputImagePerfil" class="form-label">Url imagen de perfil</label>
                          <input type="text" formControlName="image_perfil" name="image_perfil" class="form-control" id="inputImagePerfil" aria-describedby="image_perfil" [defaultValue]="pers.image_perfil">
                        </div>

                        <div class="mb-3">
                          <label for="inputFechaNacimiento" class="form-label">fecha de nacimiento</label>
                          <input type="text" formControlName="fecha_nacimiento" name="fecha_nacimiento" class="form-control" id="inputFechaNacimiento" aria-describedby="fecha_nacimiento" [defaultValue]="pers.fecha_nacimiento">
                        </div>

                        <!-- aca option ciudad 
                        <div class="mb-3">
                            <label for="inputUrlImage" class="form-label">Url imagen</label>
                            <input type="text" name="url_image" formControlName="url_image"
                                class="form-control" id="inputUrlImage" aria-describedby="url_image"
                                [defaultValue]="">
                        </div> -->
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </form>
                    <!-- fin form proyectos -->
                </div>
            </div>
        </div>
    </div>
    <!-- fin modal proyectos -->
</ng-container>

  </div>
</div>


