<div class="container-fluid">
    <div class="card mb-3 pb-2">      
      <div class="card-body">
        <!-- hard skill -->
        <div class="row">
            <div class="col-10">
                <h5 class="card-title text-start">Hard Skills</h5>
            </div>
            <div class="col-2 text-end">
                <button type="button" class="btn btn-sm btn-light">
                <i class="fa-regular fa-pen-to-square"></i>
                </button>
            </div>
        </div>
              
          <div class="progress my-2" role="progressbar" aria-label="Default striped example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped" style="width: 80%">HTML</div>
          </div>
          <div class="progress my-2" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-success" style="width: 50%">CSS</div>
          </div>
          <div class="progress my-2" role="progressbar" aria-label="Info striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-info" style="width: 70%">JavaScript</div>
          </div>
          <div class="progress my-2" role="progressbar" aria-label="Warning striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-warning" style="width: 80%">Laravel</div>
          </div>
          <div class="progress my-2" role="progressbar" aria-label="Danger striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-danger" style="width: 60%">Angular</div>
          </div>

          <!-- soft skill -->
          <div class="row">
            <div class="col-10">
                <h5 class="card-title text-start">Soft Skills</h5>
            </div>
            <div class="col-2 text-end">
              <button type="button" class="btn btn-sm btn-light">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
            </div>
          </div>
              
          <div class="progress my-2" role="progressbar" aria-label="Default striped example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped" style="width: 70%">Liderazgo</div>
          </div>
          <div class="progress my-2" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-success" style="width: 90%">Capacidad de respuesta</div>
          </div>
          <div class="progress my-2" role="progressbar" aria-label="Info striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-info" style="width: 90%">Organización</div>
          </div>
          <div class="progress my-2" role="progressbar" aria-label="Warning striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-warning" style="width: 90%">Paciencia</div>
          </div>
          <div class="progress my-2" role="progressbar" aria-label="Danger striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-danger" style="width: 90%">Resolución de problemas</div>
          </div>
          <div class="progress my-2" role="progressbar" aria-label="Danger striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 90%">Responsabilidad 90%</div>
          </div>
      </div>
    </div>
 </div>


