<div class="container-fluid">
  <div class="card mb-3 pb-2">
    <div class="card-body">
      <!-- skills -->
      <div class="row">
        <div class="col text-center">
          <h4 class="card-title d-inline">Skills</h4>
          <!-- Button modal new -->
          <button type="button" class="btn btn-sm btn-outline-dark mx-2" data-bs-toggle="modal"
            data-bs-target="#newSkillModal" (click)="resetForm()">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </div>
      <!-- hard skill -->
      <hr class="border border-dark border-1 opacity-50">
      <h5 class="card-title text-center">Hard Skills</h5>
      <div class="container text-center">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
          <div class="col py-md-3" *ngFor="let h of hard">
            <div class="container height" style="min-height: 220px;">
              <div class="container-fluid">
                <circle-progress [percent]="h.porcentaje" [space]="-10" [radius]="100" [outerStrokeWidth]="10"
                  [innerStrokeWidth]="10" [outerStrokeColor]="h.color" [innerStrokeColor]="'#fff'" [animation]="true"
                  [animationDuration]="1000"></circle-progress>
                <div class="text-center">
                  <span>
                    <h6>{{h.nombre}}</h6>
                    <!-- Button modal editar hard -->
                    <button type="button" class="btn btn-sm btn-outline-success mx-1" data-bs-toggle="modal"
                      [attr.data-bs-target]="'#skillModal'+h.id" (click)="abrirModal(h)">
                      <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                    <!-- Button modal eliminar hard -->
                    <button type="button" class="btn btn-sm btn-outline-danger mx-1" data-bs-toggle="modal"
                      [attr.data-bs-target]="'#skillEliminar'+h.id">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- soft skill -->
      <hr class="border border-dark border-1 opacity-50">
      <h5 class="card-title text-center">Soft Skills</h5>
      <div class="container text-center">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
          <div class="col py-md-3" *ngFor="let s of soft">
            <div class="container height" style="min-height: 220px;">
              <div>
                <circle-progress [percent]="s.porcentaje" [space]="-10" [radius]="100" [outerStrokeWidth]="10"
                  [innerStrokeWidth]="10" [outerStrokeColor]="s.color" [innerStrokeColor]="'#fff'" [animation]="true"
                  [animationDuration]="1000"></circle-progress>
                <div class="text-center">
                  <span>
                    <!-- Button modal editar soft -->
                    <h6>{{s.nombre}}</h6>
                    <button type="button" class="btn btn-sm btn-outline-success mx-1" data-bs-toggle="modal"
                      [attr.data-bs-target]="'#skillModal'+s.id" (click)="abrirModal(s)">
                      <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                    <!-- Button modal eliminar soft -->
                    <button type="button" class="btn btn-sm btn-outline-danger mx-1" data-bs-toggle="modal"
                      [attr.data-bs-target]="'#skillEliminar'+s.id">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- fin card body -->
  </div>
</div>

<!-- Modal Editar Skill -->
<div *ngFor="let skill of skills">
  <div class="modal fade" id="skillModal{{skill.id}}" tabindex="-1" aria-labelledby="skillLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h1 class="modal-title fs-5" id="skillLabel">Editar {{skill.nombre}}</h1>
        </div>
        <div class="modal-body">
          <!-- form modal skill -->
          <form class="form-control" [formGroup]="skillForm" (ngSubmit)="editarSkills(skill)" method="post">
            <input type="number" name="id" formControlName="id" class="form-control" id="inputId" aria-describedby="id" [defaultValue]="skill.id" hidden />
            <!-- nombre -->
            <div class="mb-3">
              <label for="inputNombre" class="form-label">Nombre</label>
              <input type="text" name="nombre" formControlName="nombre" class="form-control" id="inputNombre"
                aria-describedby="nombre" [defaultValue]="skill.nombre"
                [ngClass]="{'is-invalid': skillForm.get('nombre')?.errors && skillForm.get('nombre')?.touched, 'is-valid': !skillForm.get('nombre')?.errors && !skillForm.get('nombre')?.touched}"
                required maxlength="100" minlength="3" />
              <!-- errores -->
              <div *ngIf="skillForm.get('nombre')?.errors && skillForm.get('nombre')?.touched">
                <p *ngIf="skillForm.get('nombre')?.hasError('required')" class="text-danger">
                  El nombre es requerido.
                </p>
                <p *ngIf="skillForm.get('nombre')?.hasError('minlength')" class="text-danger">
                  El nombre debe tener al menos 3 caracteres.
                </p>
                <p *ngIf="skillForm.get('nombre')?.hasError('maxlength')" class="text-danger">
                  El nombre debe tener máximo 100 caracteres.
                </p>
              </div>
            </div>
            <!-- Porcentaje -->
            <div class="mb-3">
              <label for="inputPorcentaje" class="form-label">Porcentaje</label>
              <input type="number" formControlName="porcentaje" class="form-control" id="inputPorcentaje"
                aria-describedby="porcentaje" step="1" min="1" max="100" [defaultValue]="skill.porcentaje"
                value="{{skill.porcentaje}}"
                [ngClass]="{'is-invalid': skillForm.get('porcentaje')?.errors && skillForm.get('porcentaje')?.touched, 'is-valid': !skillForm.get('porcentaje')?.errors && !skillForm.get('porcentaje')?.touched}" required/>
              <!-- errores -->
              <div *ngIf="skillForm.get('porcentaje')?.errors && skillForm.get('porcentaje')?.touched">
                <p *ngIf="skillForm.get('porcentaje')?.hasError('required')" class="text-danger">
                  El porcentaje es requerido.
                </p>
                <p *ngIf="skillForm.get('porcentaje')?.hasError('min')" class="text-danger">
                  El porcentaje no puede ser menor a 1.
                </p>
                <p *ngIf="skillForm.get('porcentaje')?.hasError('max')" class="text-danger">
                  El porcentaje no puede ser mayor a 100.
                </p>
              </div>
            </div>
            <!-- tipo skill -->
            <div class="mb-3">
              <label for="inputTipoSkill" class="form-label">Tipo Skill</label>
              <select class="form-select" name="tipo_skill" id="inputTipoSkill"
                formControlName="tipo_skill"
                [ngClass]="{'is-invalid': skillForm.get('tipo_skill')?.errors && skillForm.get('tipo_skill')?.touched, 'is-valid': !skillForm.get('tipo_skill')?.errors && !skillForm.get('tipo_skill')?.touched}"
                required min="1" max="2">
                <option *ngFor="let ts of tipoSkill; let i = index" value="{{i+1}}" [selected]="i === skill.tipo_skill"> {{
                  ts.name }} </option>
              </select>
              <!-- errores -->
              <div *ngIf="skillForm.get('tipo_skill')?.errors && skillForm.get('tipo_skill')?.touched">
                <p *ngIf="skillForm.get('tipo_skill')?.hasError('required')" class="text-danger">
                  El tipo de skill es requerido.
                </p>
                <p *ngIf="skillForm.get('tipo_skill')?.hasError('max')" class="text-danger">
                  El tipo de skill debe ser maximo 2.
                </p>
              </div>
            </div>
            <!-- botones -->
            <div class="container text-center">
              <div class="row gx-5">
                <div class="col">
                  <div class="p-3">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                      (click)="reload()">Cerrar</button>
                  </div>
                </div>
                <div class="col">
                  <div class="p-3" *ngIf="this.resp !== 200 && this.resp !== 'error'">
                    <button type="submit" class="btn btn-info" [disabled]="skillForm.invalid">Editar</button>
                  </div>
                  <div class="p-3" *ngIf="this.resp == 200">
                    <button type="button" class="btn btn-success" disabled>Guardado</button>
                  </div>
                  <div class="p-3" *ngIf="this.resp == 'error'">
                    <button type="button" class="btn btn-danger" disabled>Error</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- fin form editar skill -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin modal editar skill -->

<!-- Modal New Skill -->
<div class="modal fade" id="newSkillModal" tabindex="-1" aria-labelledby="newSkillModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-capitalize" id="newSkillModalLabel">Crear Nuevo Skill</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- form modal new experiencia -->
        <form class="form-control" [formGroup]="skillForm" (ngSubmit)="nuevoSkills()" method="post">
          <!-- nombre -->
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" name="nombre" formControlName="nombre" class="form-control" id="inputNombre"
              aria-describedby="nombre" [ngClass]="{'is-invalid': skillForm.get('nombre')?.errors && skillForm.get('nombre')?.touched, 'is-valid': !skillForm.get('nombre')?.errors && !skillForm.get('nombre')?.touched}" required maxlength="100" minlength="3" />
            <!-- errores -->
            <div *ngIf="skillForm.get('nombre')?.errors && skillForm.get('nombre')?.touched">
              <p *ngIf="skillForm.get('nombre')?.hasError('required')" class="text-danger">
                El nombre es requerido.
              </p>
              <p *ngIf="skillForm.get('nombre')?.hasError('minlength')" class="text-danger">
                El nombre debe tener al menos 3 caracteres.
              </p>
              <p *ngIf="skillForm.get('nombre')?.hasError('maxlength')" class="text-danger">
                El nombre debe tener máximo 100 caracteres.
              </p>
            </div>
          </div>
          <!-- Porcentaje -->
          <div class="mb-3">
            <label for="inputPorcentaje" class="form-label">Porcentaje</label>
            <input type="number" formControlName="porcentaje" class="form-control" id="inputPorcentaje"
              aria-describedby="porcentaje" step="1" min="1" max="100" value=""
              [ngClass]="{'is-invalid': skillForm.get('porcentaje')?.errors && skillForm.get('porcentaje')?.touched, 'is-valid': !skillForm.get('porcentaje')?.errors && !skillForm.get('porcentaje')?.touched}" required/>
            <!-- errores -->
            <div *ngIf="skillForm.get('porcentaje')?.errors && skillForm.get('porcentaje')?.touched">
              <p *ngIf="skillForm.get('porcentaje')?.hasError('required')" class="text-danger">
                El porcentaje es requerido.
              </p>
              <p *ngIf="skillForm.get('porcentaje')?.hasError('min')" class="text-danger">
                El porcentaje no puede ser menor a 1.
              </p>
              <p *ngIf="skillForm.get('porcentaje')?.hasError('max')" class="text-danger">
                El porcentaje no puede ser mayor a 100.
              </p>
            </div>
          </div>
          <!-- tipo skill -->
          <div class="mb-3">
            <label for="inputTipoSkill" class="form-label">Tipo Skill</label>
            <select class="form-select" name="tipo_skill" id="inputTipoSkill"
              formControlName="tipo_skill"
              [ngClass]="{'is-invalid': skillForm.get('tipo_skill')?.errors && skillForm.get('tipo_skill')?.touched, 'is-valid': !skillForm.get('tipo_skill')?.errors && !skillForm.get('tipo_skill')?.touched}"
              required min="1" max="2">
              <option *ngFor="let ts of tipoSkill; let i = index" value="{{i+1}}"> {{
                ts.name }} </option>
            </select>
            <!-- errores -->
            <div *ngIf="skillForm.get('tipo_skill')?.errors && skillForm.get('tipo_skill')?.touched">
              <p *ngIf="skillForm.get('tipo_skill')?.hasError('required')" class="text-danger">
                El tipo de skill es requerido.
              </p>
              <p *ngIf="skillForm.get('tipo_skill')?.hasError('max')" class="text-danger">
                El tipo de skill debe ser maximo 2.
              </p>
            </div>
          </div>
          <!-- botones -->
          <div class="container text-center">
            <div class="row gx-5">
              <div class="col">
                <div class="p-3">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="reload()">Cerrar</button>
                </div>
              </div>
              <div class="col">
                <div class="p-3" *ngIf="this.resp !== 200 && this.resp !== 'error'">
                  <button type="submit" class="btn btn-info" [disabled]="skillForm.invalid">Crear</button>
                </div>
                <div class="p-3" *ngIf="this.resp == 200">
                  <button type="submit" class="btn btn-success" disabled>Creado</button>
                </div>
                <div class="p-3" *ngIf="this.resp == 'error'">
                  <button type="submit" class="btn btn-danger">Error</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- fin form new skill -->
      </div>
    </div>
  </div>
</div>
<!-- fin modal new skill -->

<!-- Modal Eliminar Skill -->
<div *ngFor="let skill of skills">
  <div class="modal fade" id="skillEliminar{{skill.id}}" tabindex="-1" aria-labelledby="skillEliminar"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- form modal eliminar Skill -->
          <div class="container">
            <p class="text-center">
              ¿Seguro desea eliminar la skill <b>{{skill.nombre}}</b>?
            </p>
            <p class="text-center">
              Esta acción es irreversible.
            </p>
          </div>
          <form class="container" [formGroup]="skillForm" (ngSubmit)="eliminarSkills(skill.id)">
            <input type="number" name="id" formControlName="id" class="form-control" id="inputId" aria-describedby="id"
              [defaultValue]="skill.id" value="skill.id" hidden />
            <div class="container text-center">
              <div class="row gx-5">
                <div class="col">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="reload()">Cerrar</button>
                </div>
                <div class="col">
                  <div *ngIf="this.resp !== 200 && this.resp !== 'error'">
                    <button type="submit" class="btn btn-warning">Eliminar</button>
                  </div>
                  <div *ngIf="this.resp == 200">
                    <button type="submit" class="btn btn-success" disabled>Eliminado</button>
                  </div>
                  <div *ngIf="this.resp == 'error'">
                    <button type="submit" class="btn btn-danger" disabled>Error</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- fin form eliminar Skill -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin modal eliminar Skill -->